/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.05.2018, 21:44:43
    Author     : Baeumli
*/

.root-pane {
    -fx-border-width: 0;
    -fx-background-color: #dddddd;
}

.top-bar {
    -fx-background-color: #3c3c3c;
}

.top-bar-controls {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #ffffff;
}

.btn-exit:hover {
    -fx-background-color: red;
}

.tool-bar {
    -fx-background-color: #ffffff;
}

.menu-bar {
    -fx-background-color: #3c3c3c;
    
}

.menu-bar-buttons {
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 0;
    -fx-text-fill: #ffffff;
    -fx-border-width: 0;
}

.menu-bar-buttons:hover {
    -fx-background-color: #4c4c4c;
}


.top-icons {
    -fx-fill: #ffffff;
}

.top-buttons:hover{
    -fx-background-color: #bbbbbb;
}

.separators {
    
}

.tool-bar-buttons {
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    
}

.tool-bar-buttons:hover {
    -fx-background-color: #dddddd;
}

.preview {
    -fx-background-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-color: #aaaaaa;
}

.window-separator {
    -fx-background-color: #BBBBBB;
    
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
}

.btn-controls {
    -fx-border-color: transparent;
    -fx-background-color: #303f9f;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5;
}

.btn-controls:hover {
    -fx-background-color: #3f51b5
}

.btn-controls:pressed {
    -fx-background-color: #283592;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
}

.btn-edit-table {
    -fx-background-radius: 25;
}


.btn-login {
    -fx-background-color: #04a8f8;
    -fx-text-fill: #ffffff;
    
}

.btn-login:hover {
   -fx-background-color: #0397df;

}

.btn-login:pressed {
    -fx-background-color: #0386c6;
}

.login-pane {
    
}